*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background-image: url(https://source.unsplash.com/featured) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
}
.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .6);
    height: 100vh;
    width: 100%;
    color: white;
}
.container{
    display: flex;
    /* gap: px; */
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.day{
    height: 50px;
    width: 40%;
    text-align: center;
    font-size: 1.8rem;
    background-color: rgba(255, 255,255,.7);
    border-radius: 10px;

}
.time{
    width: 22%;
    text-align: center;
}
.data{
    height: 50px;
    width: 100%;
    margin-top: 2.5rem;
    text-align: center;
    font-size: 30px;
    background-color: rgba(255, 255,255,.7);
    border-radius: 10px;
}
.user{
    
    text-align: center;
}
.user label{
    margin: 5rem 0;
    font-size: 2rem;
    
    
}
.btn{ height: 50px;
    width: 20%;
    margin-top: 2.5rem;
    text-align: center;
    font-size: 30px;
    background-color: rgba(255, 255,255,.7);
    border-radius: 10px;

}